/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;  
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Header + Navigation ******/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

header .logo img {
    width: 61px;
    height: 19px;
    padding-top: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 68px;
}

nav a {
    color: black;
    border-top: 2px solid transparent;
    padding-top: 15px;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}


/****** Infogroup ******/
.infogroup {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/****** Headline ******/
.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline h1 {
    font-size: 22px;
    margin: 0;
}
.headline p {
    font-size: 16px;
    margin: 0;
}


/****** Search Bar ******/

.searchbar {
    display: flex;
    flex-direction: row;
}
.searchbar form {
    display: flex;
    flex-direction: row;
    max-width: 377px;
}

.searchbar i.fa-solid.fa-location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.searchbar input {
    flex: 1;
    border: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    font-size: 18px;
    font-weight: bold;
}

.searchbar input::placeholder {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.searchbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-left: none;
    border-radius: 0 15px 15px 0;
    padding: 16px;
    box-sizing: border-box;
}

.searchbar button span {
    margin-right: 0px; /* espace entre le texte et l'icône */
}

.searchbar i.fa-solid.fa-magnifying-glass {
    display: none; /* masque icon recherche pour le desktop */
}

/* Filterbar */
.filterbar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.filterbar p {
    display: flex;
    font-size: 18px;
    font-weight: bold;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    text-decoration: none;
    align-items: center;
    padding: 3px 18px;
    height: 50px;
    box-sizing: border-box; /*inclu padding dans hauteur max*/
}

.filter p {
    display: flex;
    font-size: 17px;
    color: black;
}

.filter:hover {
    background-color: var(--filter-bg-color);
}

/* Infobar */
.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px; /*marge inférieure de 35px */

}

.infobar i {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 7px 10px;
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
}

.hebergements-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    gap: 30px;
}

.hebergements-cards a {
    width: 30%;
    display: flex;
    flex: 1 1 auto;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.more {
    margin-top: 30px;
}
.more a {
    font-size: 18px;
    font-weight: 700;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 35px;
    border: 1px solid transparent;
    gap: 30px;
    padding: 30px;
}

.activities-title h2 {
    font-size: 22px;
    font-weight: 700;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    gap: 30px;
}

.activities-cards a {
    border: 1px solid transparent;
    border-radius: 20px;
    display:flex;
    flex-direction: column;  
    width: calc((100% / 4) - 30px); /*remplacer le % fixe*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.activities-cards img {
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.activities-cards p {
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
}


/****** Footer ***********/
.footer-container {
    background-color: var(--main-bg-color);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-list {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 163px;
    padding: 20px;
}

.footer-list p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
}

.footer-list ul {
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin-bottom: 15px;
}

.footer-list ul a {
    text-decoration: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filterbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filterbar p {
        margin: 0;
    }

    .filter p {
        font-size: 16px;
        color: black;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
        width: 33%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .activities-cards p {
        display: flex;
    }
    
    .activities-cards img {
        height: 200px;
    }

    .activities-cards p {
        display: flex;
    }
} 

/* Small devices (phones, less than 768px) */ 
@media (max-width: 767.98px) {
    .main-container {
        max-width: 768px;
        padding: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        gap:0px;
        
    }
    nav a {
        border-bottom: 2px solid transparent;
        border-top: none;
        padding-bottom: 14px;
        width: 50%;
    }
    nav a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .infogroup {
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    } 

    .searchbar form {
        justify-content: center;
    }

    .searchbar button {
        width: 49px;
        height: 49px;
        border-radius: 15px;
        flex-shrink: 0;
        margin-left: -15px;
    }

    .searchbar button:hover {
        box-shadow: 0px 0px 5px #484646;
    }
    .searchbar button span{
        display: none;
    }
    .searchbar i.fa-solid.fa-magnifying-glass {
        display: inline-block;
        color: white;
    }
    
    .filter-container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .filter {
        flex-wrap: wrap;
        flex: 1 1 calc(50% - 10px);
    }

    .filter-container p {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements {
        background-color: white;
    }
    .hebergements-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .populaires {
        margin-top: 0;
    }
    
    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .populaires-title {
        margin-bottom: 15px;
    }
    .populaires-cards .card {
        display: flex;
        margin-top: 0px;
    }

    .populaires-cards a {
        width: 100%;
    }
    
    .activities {
        margin-top: 0;
    }

    .activities-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activities-cards .card {
        display: flex;
        margin-top: 0px;
    }
    
    .activities-cards a {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-list {
        width: 100%;
    }
}
